<%= form_with(model: b1) do |form| %>
  <% if b1.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(b1.errors.count, "error") %> prohibited this b1 from being saved:</h2>

      <ul>
        <% b1.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
