<p style="color: green"><%= notice %></p>

<%= render @b1 %>

<div>
  <%= link_to "Edit this b1", edit_b1_path(@b1) %> |
  <%= link_to "Back to b1s", b1s_path %>

  <%= button_to "Destroy this b1", @b1, method: :delete %>
</div>
