<p style="color: green"><%= notice %></p>

<%= render @b2 %>

<div>
  <%= link_to "Edit this b2", edit_b2_path(@b2) %> |
  <%= link_to "Back to b2s", b2s_path %>

  <%= button_to "Destroy this b2", @b2, method: :delete %>
</div>
