<div id="<%= dom_id setting %>">
  <p>
    <strong>Public:</strong>
    <%= setting.public %>
  </p>

  <p>
    <strong>Someone can comment on post:</strong>
    <%= setting.someone_can_comment_on_post %>
  </p>

  <p>
    <strong>Someone can search me:</strong>
    <%= setting.someone_can_search_me %>
  </p>

  <p>
    <strong>Someone can mention me:</strong>
    <%= setting.someone_can_mention_me %>
  </p>

  <p>
    <strong>Account status:</strong>
    <%= setting.account_status %>
  </p>

  <p>
    <strong>Show me in suggestions:</strong>
    <%= setting.show_me_in_suggestions %>
  </p>

</div>
