<p style="color: green"><%= notice %></p>

<%= render @post %>

<%= render partial: "posts/action_links", locals: {post: @post} if users_post(@post) %> 

<%= render partial: "suggestion/suggestion", locals: {post: @post} %> 

<%= render partial: "suggestion/all_suggestions", locals: {suggestions: @suggestions} %>