
<h1><%= link_to current_user.email , user_profile_path %></h1>


<span>
    <%= link_to 'Add Post', new_post_path %> | 
    <%= link_to 'Inbox' %> | 
    <%= link_to 'Friend' , user_friends_friends_path , data: {turbo_frame: "modal"} %> |
    <%= link_to 'Friend Requests' , pending_requests_friends_path , data: {turbo_frame: "modal"}  %> |
    <%= link_to 'Block Users' , blocked_users_friends_path , data: {turbo_frame: "modal"} %> |
    <%= link_to 'Search People' %> |
    <%= link_to 'Settings' , edit_setting_path(current_user.setting.id) , data: {turbo_frame: "modal"} %>
</span>

<br><br><br><br>
<strong>Suggestions-Add Friends</strong>
<br>

<%= render partial: "instagram/slider", locals: {suggestion_users: @suggestion_users} if @suggestion_users.present?%>

<h1>All Posts</h1>

<div>
  <% @posts.each do |post| %>
    <h1>Post#: <%= @sum = @sum + 1 %></h1>
    <%= render "posts/landing_page_post" , :post => post %>
    <p>
      <h3>-----------------------------------------------</h3>
    </p>
  <% end %>
</div>
